* {
  margin: 0;
  padding: 0;
}
#wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  height: 700px;
  text-align: center;
  margin: 10px;
  color: aliceblue;
  background-color: darkgreen;
  flex-direction: column;
}
#header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
#main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#main-1 {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
#main-2 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}
