<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>loginForm.html</title>
</head>
<body>
    <h2>로그인 화면</h2>


    <form action="/loginAction4" method="post">
      <input type="text" name="username" > <br>
      <input type="password" name="password" > <br>
      <input type="submit" value="로그인">
    </form>

    <h2>로그인 결과 화면1</h2>
    <h2 th:text="${ username }">username 값</h2>
    <h2 th:text="${ password }">password 값</h2>

</body>
</html>